<h1>This Is Canada City,...</h1>
<html>
    <head>
        <style>
    body{
        text-align: center;
    }
        </style>
    </head>
    <body>
        <img src="static/mustanggt500.jpg" height="400px" width="600px">
        <h2>Canada is a country in North America.<br> 
            Its ten provinces and three territories extend from the<br> 
            Atlantic Ocean to the Pacific Ocean and northward into the Arctic Ocean,<br> 
            making it the world's second-largest country by total area,<br> 
            with the world's longest coastline.<br> 
            Its border with the United States is the world's longest international and border.<br> 
            The country is characterized by a wide range of both meteorologic and<br> 
            geological regions.</h2>
    </body>
</html>