<h1>This Is India City,...</h1>
<html>
    <head>
        <style>
    body{
        text-align: center;
    }
        </style>
    </head>
    <body>
        <img src="static/jaydada.JPG" height="700px" width="500px">
        <h2>The National emblem of India shows four lions standing back-to-back.<br> 
            The lions symbolises (shows, displays) power, pride, confidence,<br> 
            and courage (bravery). Only the government can use this emblem,<br> 
            according to the State Emblem of India (Prohibition of Improper Use) 
            Act, 2005.</h2>
    </body>
</html>