<h1>This Is Batman Gotham City,...</h1>
<html>
    <head>
        <style>
    body{
        text-align: center;
    }
        </style>
    </head>
    <body>
        <img src="static/Batman.png" height="400px" width="600px">
        <h2>Gotham is a TV series based on James Gordon's early days as a policeman<br> 
            in Gotham City and Bruce Wayne's path to becoming Batman, as well as the<br> 
            origins of several of Batman's rogues' gallery such as Penguin, Riddler,<br> 
            Catwoman, Scarecrow, Mad Hatter, Bane, Ventriloquist and the Joker.<br>
            The series ran for five seasons which aired from September 2014 to April 2019.</h2>
    </body>
</html>