<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                background-image:url('/static/kakashi2.jpg');
                background-repeat: no-repeat;
                background-size: 150%;
                text-align: center;
            }
            a{
                font-size: 20px;

                color: rgb(1, 250, 6);
                text-decoration: none;
            }
            p{
                font-size: 40px;
                color: rgb(7, 3, 249);
            }
        </style>
    </head>
    <body>
        <p>India</p>
        <a href="/city">India Countrie link</a><br>
        <p>USA</p>
        <a href="/usa">USA Countrie link</a><br>
        <p>UAE</p>
        <a href="/uae">UAE Countrie link</a><br>
        <p>Gotham</p>
        <a href="/gotham">Gotham Countrie link</a><br>
        <p>London</p>
        <a href="/london">London Countrie link</a><br>
        <p>Canada</p>
        <a href="/canada">Canada Countrie link</a><br>
        <p>NorthKorea</p>
        <a href="/NorthKorea">NorthKorea Countrie link</a><br>
        <!--<img src="static/Batman.png" height="300px" width="550px">-->
    </body>
</html>