<h1>This Is London City,...</h1>
<html>
    <head>
        <style>
    body{
        text-align: center;
    }
        </style>
    </head>
    <body>
        <img src="static/srt.jpg" height="400px" width="600px">
        <h2>London is the capital of the United Kingdom (UK),<br> 
            and its largest city.[6] It is also the city with the highest<br> 
            population in the UK. The population is just under 9 million.[7]<br> 
            The city is the largest in western Europe by population and area.<br>
            On the Thames, London has been a central city since it was founded<br> 
            by the Romans two millennia ago as Londinium.</h2>
    </body>
</html>