<h1>This Is North Korea City,...</h1>
<html>
    <head>
        <style>
    body{
        text-align: center;
    }
        </style>
    </head>
    <body>
        <img src="static/naruto team.jpg" height="400px" width="600px">
        <h2>North Korea, country in East Asia. 
            It occupies the northern portion of the Korean peninsula,<br> 
            which juts out from the Asian mainland between the East Sea<br> 
            (Sea of Japan) and the Yellow Sea; North Korea covers about 55<br> 
            percent of the peninsula’s land area. The country is bordered by<br> 
            China and Russia to the north and by the Republic of Korea (South Korea)<br>
            to the south. The national capital, P’yŏngyang, is a major industrial and<br> 
            transport centre near the west coast.</h2>
    </body>
</html>