<h1>This Is UAE City,...</h1>
<html>
    <head>
        <style>
    body{
        text-align: center;
    }
        </style>
    </head>
    <body>
        <img src="static/gamecity.jpg" height="400px" width="600px">
        <h2>The United Arab Emirates (UAE; in Arabic: الإمارات العربية المتحدة)<br> 
            is a country in Western Asia. It borders Oman, Qatar, and Saudi Arabia.<br> 
            The capital is Abu Dhabi, and the largest city is Dubai. The Burj Khalifa,<br> 
            Earth's tallest artificial structure,[8] is in Dubai.<br> 
            Approximately 600.83 square kilometers is the area of the United Arab Emirates,<br>
            till December 31, 2017, the UAE counted a population of 9,304,277,<br>  
            according to the reports of the Federal Competitiveness and<br> 
            Statistics Authority.</h2>
    </body>
</html>